<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Express: Serving up static resources</title>
</head>
<body>
    <div class="main-section">
    {{> header}}
    <p>Welcome to weather application.</p>
    <form onsubmit={}>
        <input type="search" name="search" id="search" placeholder="Location">
        <button>Search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>
    </div>
    {{> footer}}
 <script src="./js/scripts.js"></script>
</body>
</html>